<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Webapp1</display-name>

	<servlet>
		<servlet-name>Ko-Analyze Search Rest API</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.analyze.ko.framework.server.servlet.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ko-Analyze Search Rest API</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ko-Analyze analyze Rest API</servlet-name>
		<servlet-class>com.analyze.ko.framework.server.servlet.rest</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>jspTest</servlet-name>
		<servlet-class>com.analyze.ko.framework.server.servlet.TestJSP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jspTest</servlet-name>
		<url-pattern>/jsptest</url-pattern>
	</servlet-mapping>
</web-app>